*{
  font-family: 'Poppins', sans-serif;
}

.cover-two {
  object-fit: cover;
}
.carousel-item img{
  height: 80vh;
}

.carousel-item{
  height: 80vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.carousel-item::before{
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
}

/* Courses section  */
.courses{
  margin-top: 120px;
}

/* Join Section Start  */
.join-section{
  margin: 120px 0;
}
.join{
  width: 100%;
  height: 300px;
}
/* Success Section Start */
.success{
  margin-bottom: 120px;
}
.question-container{
  max-width: 850px;
}

/* Feedback Start  */
#feedback{
  margin-bottom: 120px;
}
/* Question Section Start  */
#question{
  margin-bottom: 120px;
}

#listed-Companies{
  margin-bottom: 120px;
}

#footer{
  background-color: black;
}


@media only screen and (max-width:767px){
  .course-image{
    width: 100%;
  }
}



