*{
  font-family: 'Poppins', sans-serif;
}

.carousel-item>img:nth-child(2){
  object-fit: cover;
}
.carousel-item img{
  height: 80vh;
}


/* Courses section  */
.courses{
  margin-top: 120px;
}

@media only screen and (max-width:767px){
  .course-image{
    width: 100%;
  }
}



